.card-profile .card-avatar img {
    width: 100%;
    height: auto;
}

.card-profile .card-avatar {
    max-width: 130px;
    max-height: 130px;
}

.card-profile .card-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-body, .card .card-footer {
    padding: 0.9375rem 1.875rem;
}

.text-center {
    text-align: center!important;
}

.card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
}

@media (min-width: 576px){
    .modal-dialog{
        max-width: 1000px !important;
       }
    }